<div>
	<input type="checkbox" id="hideDone1"/><label for="hideDone1">1段階完了症例を非表示</label>
	<input type="checkbox" id="hideDone2"/><label for="hideDone2">2段階完了症例を非表示</label>
<table class="sticky_header">
	<thead>
		<tr>
			<td>症例</td>
			<td>状態</td>
			<td>読影</td>
			<td class="omittable">更新日時</td>
			<td>w/ AI 状態</td>
			<td>w/ AI 読影</td>
			<td class="omittable">w/ AI 更新日時</td>
		</tr>
	</thead>
	<tbody>
		{%- for case_id in case_ids %}
		{%- set status = (2 if records[case_id].completed else 1) if case_id in records else 0 -%}
		{%- set ai_updated = case_id in records and case_id in ai_records and ai_records[case_id].elapsed_time > 0 -%}
		{%- set ai_status = (2 if ai_records[case_id].completed else 1) if case_id in ai_records and
		ai_updated else 0
		-%}
		<tr class="{{'done1' if status==2 else ''}} {{'done2' if ai_status==2 else ''}}">
			<td>{{case_id}}</td>
			<td>{{['未','一時保存','完了'][status]}}</td>
			<td>{%- if status < 2 %} <a href="wo/case/{{case_id}}">✍️</a>{%- endif %}</td>
			<td class="omittable">{{records[case_id].last_update.strftime('%m/%d %H:%M') if case_id in records else ''}}
			</td>

			<td>{{['未','一時保存','完了'][ai_status]}}</td>
			<td>{%- if status==2 and ai_status < 2 %} {%- if case_id in records and case_id in ai_records
					and (now-records[case_id].last_update)> min_delta%}
					<a href="w/case/{{case_id}}">✍️</a>
					{%- else %}
					待
					{%- endif %}
					{%- endif %}</td>
			<td class="omittable">{{ai_records[case_id].last_update.strftime('%m/%d %H:%M') if case_id in ai_records and
				ai_updated
				else '' }} </td>

		</tr>
		{%- endfor %}
	</tbody>
</table>
</div>
