{%- if read_only %}
<script>
       function handleChange() {
              // do nothing in admin mode
       }
</script>
{%- else %}
<script>
       function showAlert(error) {
              alert(error);
       }
       function sendData(url, successCallback, failureCallback) {
              const sliders = document.querySelectorAll('.slider input');
              const values = {}
              const dones = Array.from(sliders).filter(e => !e.classList.contains('notset'));
              dones.forEach(e => values[e.id] = e.value)
              values['elapsed_time'] = elapsed_time + Math.round((Date.now() - startTime) / 1000);
              values['diagnosis'] = document.getElementById('diagnosis').value
              async function putData(url = '', data = {}) {
                     const response = await fetch(url, {
                            method: 'PUT',
                            mode: 'cors',
                            cache: 'no-cache',
                            credentials: 'same-origin',
                            headers: {
                                   'Content-Type': 'application/json'
                            },
                            redirect: 'follow',
                            referrerPolicy: 'no-referrer',
                            body: JSON.stringify(data)
                     })
                     return response.json();
              }
              putData(url, values)
                     .then(data => successCallback(data)
                     ).catch(failureCallback);
       }

       function updateFixButton() {
              const sliders = document.querySelectorAll('.slider input');
              const dones = Array.from(sliders).filter(e => !e.classList.contains('notset'));
              const n_all = sliders.length;
              const n_dones = dones.length;
              if (n_all == n_dones) {
                     document.getElementById("fixButton").disabled = false
              }
       }

       function handleChange(obj) {
              if (!document.getElementById('checkButton').disabled) {
                     // do nothing
                     return
              }

              if (obj.hasAttribute("data-nocenter") && obj.value == (obj.min + obj.max) / 2) {
                     obj.parentElement.parentElement.parentElement.classList.add('invalidValue')
                     alert(obj.value + 'は禁止されています。変更してください。')
                     return;
              } else {
                     obj.parentElement.parentElement.parentElement.classList.remove('invalidValue')
              }
              obj.classList.remove('notset');
              sendData(location.href, data => {
                     updateFixButton()
                     console.log(data)
              }, showAlert);
       }
</script>
{%- endif %}
{%- for group_name, slider_group in slider_groups.items() %}
<div class="sliders">
       <h3>{{group_name}}</h3>
       {%- for slider in slider_group %}
       <div class="grid">
              <label for="{{slider.label_id}}">{{slider.label}}</label>
              <div style="margin:0 .5em 0 .5em;">{{ref_data.get(slider.label_id,'')}}</div>
              <div>
                     <div class="label"><span>{{slider.label_left}}</span>
                            <span>{{slider.label_right}}</span>
                     </div>
                     <div class="slider">
                            <input type="range" id="{{slider.label_id}}" name="{{slider.label_id}}" min="0" max="100"
                                   value={{data.get(slider.label_id, 50)}} {%- if slider.label_id not in data %}
                                   class="notset" {%- endif %} {%- if not slider.allow_center %} data-nocenter {%- endif
                                   %} onClick="handleChange(this)" onTouchEnd="handleChange(this)" disabled>
                     </div>
              </div>
       </div>
       {%- endfor %}
</div>
{%- endfor %}
