body {
	background: #112;
	color: white;
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

div {
	margin: 0;
	padding: 0;
}

h3 {
	margin: .2em;
}

a:link {
	color: #f44;
}

a:visited {
	color: #944;
}

.container {
	width: 100%;
	flex-grow: 1;
}

.main {
	padding: 1em 0 1em 0;
	max-width: 800px;
	margin: auto;
}

@media (max-width: 800px) {
	.main {
		padding: 0.5em;
	}
}

.grid {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: center;
	grid-template-columns: 2fr 1fr 7fr;
}

.grid label {
	justify-self: center;
}

.topbar {
	padding: .8em;
	flex-shrink: 0;
	background: #001;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.header {
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer {
	padding: .8em;
	text-align: center;
	flex-shrink: 0;
	background: #001;
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
}

#checkButton {
	padding: 0 .5em 0 .5em;
	margin: 0 .5em 0 .5em;
	color: white;
	font-size: 1em;
	border: none;
}

#checkButton {
	background: #F22;
}

#checkButton:hover {
	color: #113;
}

input[type="range"] {
	width: 110%;
	margin: 0;
	padding: 0;
}

input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	background: #dff1ff;
	height: .4em;
}

.invalidValue {
	background: red;
}

textarea {
	width: 100%;
	margin: .5em 0 .5em;
	padding: .5em;
	min-height: 10em;
	font-size: 1.2em;
}

div.label {
	display: flex;
	justify-content: space-between;
	font-size: .8em;
}

.slider {
	padding: 0;
	margin: 0;
	height: 2rem;
	width: 100%;
	display: flex;
	align-items: center;
	background: no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxnIHN0cm9rZT0iI2QzZDNkMyIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNMSAwdjEwME01MDAgMHYxMDBNOTk5IDB2MTAwIi8+PC9nPjxnIHN0cm9rZT0iI2QzZDNkMyI+PHBhdGggZD0iTTI1MCAyNXY1ME03NTAgMjV2NTAiLz48L2c+PC9zdmc+);
	background-size: 100% auto;
}

tbody tr:nth-child(even) {
	background-color: #224;
}

thead tr {
	background-color: #224;
}

table {
	margin: auto;
}

tr td {
	padding: 1em;
	text-align: center;
}

/* flash messages */

div.flashes {
	width: 100%;
}

ul.flashes {
	list-style-type: none;
	margin: 0;
	padding: .5em;
}

ul.flashes li {
	padding: 1em;
	border-radius: .2em;
}

.success {
	border: solid 2px green;
}

.success::before {
	content: "Success: ";
}

.failed {
	border: solid 2px red;
}

.failed::before {
	content: "Error: ";
}

.message {
	border: solid 2px #558;
}

.message::before {
	content: "Message: ";
}

button {
	padding: .2em;
	margin: .2em;
	border-radius: .1em;
}

/* Initial slider */

input[type=range].notset::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	background: transparent;
	width: 1em;
	height: 1em;
	border: none;
	border-radius: 50%;
}

input[type="range"].notset::-moz-range-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	background: transparent;
	width: 1em;
	height: 1em;
	border: none;
	border-radius: 50%;
}
